Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

eslint:
  name: eslint
  entry: npx eslint
  language: system
  verbose: true
  args:
  - --no-warn-ignored
  - --color
  - --format=gha
  - --format=unix
  - --fix

codecov:
  name: Check codecov.yml
  entry: 'bash -c ''[ $( curl --silent -o /dev/stderr -w "%{http_code}" -X POST --data-binary @codecov.yml https://codecov.io/validate ) -eq 200 ]''
  
    '
  language: system
  pass_filenames: false

Revert "Ensure ui tests reside in test/ui (#1979)"
  .github/workflows/ci.yaml
  .sonarcloud.properties
  test/ui-test/contentCreatorUiTest.ts
  test/ui-test/contentCreatorUiTestNoCreatorTest.ts
  test/ui-test/extensionUITest.ts
  test/ui-test/lightspeedAuthUiTest.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
  test/ui-test/lightspeedRoleGenTest.ts
  test/ui-test/lightspeedUiTestActiveBarTest.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookExpTest.ts
  test/ui-test/lightspeedUiTestPlaybookExpTestNoExpTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenNotAvailableTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart1Test.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/lightspeedUiTestRoleExpTest.ts
  test/ui-test/lightspeedUiTestStatusBarAndExplorerViewNoLSTest.ts
  test/ui-test/lightspeedUiTestStatusBarAndExplorerViewTest.ts
  test/ui-test/terminalUiTest.ts
  test/ui-test/uiTestHelper.ts
  test/ui-test/walkthroughUiTest.ts
  test/ui-test/welcomePageUITest.ts
  tools/test-launcher.sh
Due: eslint

Revert "Use cobertura output for unit tests (#1978)"
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
  .sonarcloud.properties
  package.json
  test/index.ts
  test/ui-test/lightspeedRoleGenTest.ts
  test/unit/.c8rc
  test/units/contentCreator/utilities.test.ts
  test/units/lightspeed/contentmatches.test.ts
  test/units/lightspeed/editableList.test.ts
  test/units/lightspeed/parsePlays.test.ts
  test/units/lightspeed/utils/getRoleNameFromRolePath.test.ts
  test/units/lightspeed/utils/getRoleNamePathFromFilePath.test.ts
  test/units/lightspeed/utils/handleApiError.test.ts
  test/units/lightspeed/utils/multiLinePromptForMultiTasks.test.ts
  test/units/lightspeed/utils/outlineLineNumbers.test.ts
  test/units/lightspeed/utils/samples/collections/ansible_collections/community/broken_MANIFEST/MANIFEST.json
  test/units/lightspeed/utils/samples/collections/ansible_collections/community/dummy/galaxy.yml
  test/units/lightspeed/utils/samples/collections/ansible_collections/community/empty/README
  test/units/lightspeed/utils/samples/collections/ansible_collections/community/general/MANIFEST.json
  test/units/lightspeed/utils/samples/collections/ansible_collections/empty/README
  test/units/lightspeed/utils/samples/collections/ansible_collections/openstack/cloud/MANIFEST.json
  test/units/lightspeed/utils/samples/collections/ansible_collections/virt_lightning/virt_lightning/MANIFEST.json
  test/units/lightspeed/utils/scanner.test.ts
  test/units/lightspeed/utils/updateRolesContext.ts
Due: eslint

Revert "Avoid potentially unnecessary webpack step inside task-ui (#1975)"
  Taskfile.yml
Due: none

Revert "Avoid cleaning cached vscode binaries before ui test (#1977)"
  .github/workflows/ci.yaml
  Taskfile.yml
Due: none

Revert "chore: pre-commit autoupdate (#1974)"
  .pre-commit-config.yaml
Due: none

Revert "Use cobertura xml reporting for ui testing (#1969)"
  .c8rc
  tools/test-launcher.sh
Due: none

DNM - CI testing
  .github/workflows/ci.yaml
  test/mockLightspeedServer/openUrl.ts
  test/mockLightspeedServer/server.ts
  test/ui/lightspeedOneClickTrialUITest.ts
  test/ui/lightspeedUiTestExplorerTest.ts
  tools/test-launcher.sh
Due: eslint

temporarily disable lightspeedUiTestExplorerTest
  test/ui/lightspeedUiTestExplorerTest.ts
Due: eslint

configure the docs
  docs/README.md
Due: none

removed some lines
  docs/README.md
Due: none

temporarily disable lightspeedUiTestExplorerTest (#1989)
  test/ui/lightspeedUiTestExplorerTest.ts
Due: eslint

chore: use npm project directory instead of __dirname
  Taskfile.yml
  test/index.ts
  test/testRunner.ts
Due: eslint

chore: use npm project directory instead of __dirname (#1982)
  Taskfile.yml
  test/index.ts
  test/testRunner.ts
Due: eslint

made new tab for contact
  docs/README.md
  docs/contact.md
  mkdocs.yml
Due: none

added the Devcontainer
  docs/README.md
Due: none

lint fix
  docs/contact.md
Due: none

Debug
  test/ui/uiTestHelper.ts
Due: eslint

Add wait message during execution and simplify command
  src/features/contentCreator/createAnsibleCollectionPage.ts
  src/webview/apps/contentCreator/createAnsibleCollectionPageApp.ts
Due: eslint

upgrade vscode-extension-tester (dev)
  package.json
  yarn.lock
Due: none

workaround for the last chromedriver issue
  tools/test-launcher.sh
Due: none

test-launcher: call extest run-tests with the -c
  tools/test-launcher.sh
Due: none

Do not expose SettingsManager globally.
  examples/playbooks/play1.yml
  examples/vault-ids-example/play.yml
  src/extension.ts
  src/features/vault.ts
Due: eslint

test-launcher: call extest run-tests with the -c (#1994)
  tools/test-launcher.sh
Due: none

Fix lightspeed auth tests
  test/ui/lightspeedAuthUiTest.ts
  test/ui/lightspeedOneClickTrialUITest.ts
  test/ui/lightspeedUiTestExplorerTest.ts
  test/ui/uiTestHelper.ts
Due: eslint

AAP-44214: new command to communicate with WCA-Core
  package.json
  src/extension.ts
Due: eslint

Fix contentCretorUITest on linux by scrolling the field into view
  test/ui/contentCreatorUiTest.ts
Due: eslint

Bump vscode-extension-tester to latest (#1995)
  package.json
  test/ui/contentCreatorUiTest.ts
  test/ui/lightspeedAuthUiTest.ts
  test/ui/lightspeedOneClickTrialUITest.ts
  test/ui/lightspeedUiTestExplorerTest.ts
  test/ui/uiTestHelper.ts
  yarn.lock
Due: eslint

Remove sleeps from ui tests
  test/ui/contentCreatorUiTest.ts
  test/ui/contentCreatorUiTestNoCreatorTest.ts
  test/ui/lightspeedOneClickTrialUITest.ts
  test/ui/lightspeedRoleGenTest.ts
  test/ui/lightspeedUiTestExplorerTest.ts
  test/ui/lightspeedUiTestPlaybookExpTest.ts
  test/ui/lightspeedUiTestPlaybookGenNotAvailableTest.ts
  test/ui/lightspeedUiTestPlaybookGenTest.ts
  test/ui/lightspeedUiTestPlaybookGenWebviewPart1Test.ts
  test/ui/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui/lightspeedUiTestRoleExpTest.ts
  test/ui/lightspeedUiTestStatusBarAndExplorerViewTest.ts
  test/ui/terminalUiTest.ts
  test/ui/uiTestHelper.ts
  test/ui/walkthroughUiTest.ts
  test/ui/welcomePageUITest.ts
Due: eslint

chore: refactor e2e tests to use vscode-test cli
  .config/Taskfile_shared.yml
  .config/mise.toml
  .depcheckrc.yml
  .gitignore
  .sonarcloud.properties
  .vscode-test.mjs
  eslint.config.mjs
  package.json
  packages/ansible-language-server/.c8rc
  packages/ansible-language-server/codecov.yml
  pyproject.toml
  test/e2e/rootMochaHooks.ts
  test/index.ts
  test/testRunner.ts
  tools/test-launcher.sh
  tsconfig.base.json
  yarn.lock
Due: eslint, codecov

chore: refactor e2e tests to use vscode-test cli
  .config/Taskfile_shared.yml
  .config/mise.toml
  .depcheckrc.yml
  .github/workflows/ci.yaml
  .gitignore
  .sonarcloud.properties
  .vscode-test.mjs
  eslint.config.mjs
  package.json
  packages/ansible-language-server/.c8rc
  packages/ansible-language-server/codecov.yml
  pyproject.toml
  test/e2e/rootMochaHooks.ts
  test/index.ts
  test/testRunner.ts
  tools/test-launcher.sh
  tsconfig.base.json
  yarn.lock
Due: eslint, codecov

chore: refactor e2e tests to use vscode-test cli (#1990)
  .config/Taskfile_shared.yml
  .config/mise.toml
  .depcheckrc.yml
  .github/workflows/ci.yaml
  .gitignore
  .sonarcloud.properties
  .vscode-test.mjs
  eslint.config.mjs
  package.json
  packages/ansible-language-server/.c8rc
  packages/ansible-language-server/codecov.yml
  pyproject.toml
  test/e2e/rootMochaHooks.ts
  test/index.ts
  test/testRunner.ts
  tools/test-launcher.sh
  tsconfig.base.json
  yarn.lock
Due: eslint, codecov

Testing out the speed of the ui tests before removing sleeps
  docs/contributing.md
Due: none

chore: disable mkdocs-material social plugin
  mkdocs.yml
Due: none

chore: disable mkdocs-material social plugin (#2001)
  mkdocs.yml
Due: none

chore: renamed test/testScripts to test/e2e
  .config/dictionary.txt
  .github/workflows/ci.yaml
  .nycrc.yml
  .sonarcloud.properties
  .vscode-test.mjs
  test/e2e/diagnostics/testAnsibleWithoutEE.test.ts
  test/e2e/diagnostics/testYamlWithoutEE.test.ts
  test/e2e/e2eTestSuiteLauncher.test.ts
  test/e2e/hover/testWithEE.test.ts
  test/e2e/hover/testWithoutEE.test.ts
  test/e2e/lightspeed/e2eInlineSuggestion.test.ts
  test/e2e/lightspeed/testLightSpeedFunctions.test.ts
  test/e2e/lightspeed/testLightspeed.test.ts
  test/e2e/lightspeed/testLightspeedUser.test.ts
  test/e2e/outsideWorkspace/testExtensionForFilesOutsideWorkspace.test.ts
  test/lib/nyc.d.ts
  test/ui/mockLightspeedServer/completion.ts
  test/ui/mockLightspeedServer/contentmatches.ts
  test/ui/mockLightspeedServer/explanations.ts
  test/ui/mockLightspeedServer/feedback.ts
  test/ui/mockLightspeedServer/me.ts
  test/ui/mockLightspeedServer/meMarkdown.ts
  test/ui/mockLightspeedServer/openUrl.ts
  test/ui/mockLightspeedServer/playbookGeneration.ts
  test/ui/mockLightspeedServer/roleExplanations.ts
  test/ui/mockLightspeedServer/roleGeneration.ts
  test/ui/mockLightspeedServer/server.ts
  tools/test-launcher.sh
Due: eslint

lightspeed: accept cursor:// callback URI
  src/features/lightspeed/lightSpeedOAuthProvider.ts
Due: eslint

AAP-43340: activationEvents: add onAuthenticationRequest:auth-lightspeed
  package.json
Due: none

chore: renamed test/testScripts to test/e2e (#1998)
  .config/dictionary.txt
  .github/workflows/ci.yaml
  .nycrc.yml
  .sonarcloud.properties
  .vscode-test.mjs
  test/e2e/diagnostics/testAnsibleWithoutEE.test.ts
  test/e2e/diagnostics/testYamlWithoutEE.test.ts
  test/e2e/e2eTestSuiteLauncher.test.ts
  test/e2e/hover/testWithEE.test.ts
  test/e2e/hover/testWithoutEE.test.ts
  test/e2e/lightspeed/e2eInlineSuggestion.test.ts
  test/e2e/lightspeed/testLightSpeedFunctions.test.ts
  test/e2e/lightspeed/testLightspeed.test.ts
  test/e2e/lightspeed/testLightspeedUser.test.ts
  test/e2e/outsideWorkspace/testExtensionForFilesOutsideWorkspace.test.ts
  test/lib/nyc.d.ts
  test/ui/mockLightspeedServer/completion.ts
  test/ui/mockLightspeedServer/contentmatches.ts
  test/ui/mockLightspeedServer/explanations.ts
  test/ui/mockLightspeedServer/feedback.ts
  test/ui/mockLightspeedServer/me.ts
  test/ui/mockLightspeedServer/meMarkdown.ts
  test/ui/mockLightspeedServer/openUrl.ts
  test/ui/mockLightspeedServer/playbookGeneration.ts
  test/ui/mockLightspeedServer/roleExplanations.ts
  test/ui/mockLightspeedServer/roleGeneration.ts
  test/ui/mockLightspeedServer/server.ts
  tools/test-launcher.sh
Due: eslint

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

