Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$


Adopt coactions/upload-artifact
  .github/workflows/ci.yaml
  tools/test-setup.sh
Due: none

Adopt coactions/upload-artifact (#2062)
  .github/workflows/ci.yaml
  tools/test-setup.sh
Due: none

Migrate Role webview from webpack to vite/vuejs framework (#2065)
  .sonarcloud.properties
  .vscodeignore
  codecov.yml
  media/contentCreator/createRolePageStyle.css
  src/extension.ts
  src/features/contentCreator/createRolePage.ts
  src/features/contentCreator/vue/views/createRolePanel.ts
  src/features/lightspeed/vue/views/helper.ts
  src/webview/apps/contentCreator/createRolePageApp.ts
  vite.config.ts
  webpack.config.ts
  webviews/CreateRoleApp.vue
  webviews/create-role.html
  webviews/create-role.ts
Due: eslint, codecov

Fix ansible-language-server URL (#2070)
  README.md
Due: none

create, css, , removed vue changes
  media/contentCreator/addPluginPageStyle.css
  package.json
  src/extension.ts
  src/features/lightspeed/vue/views/helper.ts
  src/features/quickLinks/quickLinksView.ts
  webviews/AddPluginPageApp.vue
Due: eslint

Minor fix for folder and file explorer on collection and role webviews
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateRoleApp.vue
Due: none

removed consoles
  src/features/lightspeed/vue/views/helper.ts
  webviews/AddPluginPageApp.vue
Due: eslint

Revert "Minor fix for folder and file explorer on collection and role webviews"
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateRoleApp.vue
Due: none

Update .sonarcloud.properties
  .sonarcloud.properties
Due: none

removed webpack changes
  src/features/contentCreator/addPluginPage.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
  webpack.config.ts
Due: eslint

test case
  test/ui/contentCreatorUiTest.ts
Due: eslint

removed emoji
  webviews/AddPluginPageApp.vue
Due: none

Migrate Plugin webview from webpack to vite/vuejs framework (#2071)
  .sonarcloud.properties
  media/contentCreator/addPluginPageStyle.css
  src/extension.ts
  src/features/contentCreator/addPluginPage.ts
  src/features/contentCreator/vue/views/addPluginPagePanel.ts
  src/features/lightspeed/vue/views/helper.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
  test/ui/contentCreatorUiTest.ts
  vite.config.ts
  webpack.config.ts
  webviews/AddPluginPageApp.vue
  webviews/add-plugin.html
  webviews/add-plugin.ts
Due: eslint

Fixing the folder icon to open at correct home direcory
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Revert "Fixing the folder icon to open at correct home direcory"
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Minor fix for collection and rle webview folder/file icons correct path opening
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateRoleApp.vue
Due: none

Remove extra line space
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Ensure build does not happen without git lfs being active
  .github/workflows/ci.yaml
  tools/test-setup.sh
Due: none

Ensure build does not happen without git lfs being active (#2073)
  .github/workflows/ci.yaml
  tools/test-setup.sh
Due: none

Fix the file explorer path in collection and playbook webviews.
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateAnsibleProjectApp.vue
Due: none

Remove extra line spaces
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateAnsibleProjectApp.vue
Due: none

Minor fix for collection, playbook and role webview folder/file icons correct pa… (#2074)
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateAnsibleProjectApp.vue
  webviews/CreateRoleApp.vue
Due: none

With package.json updation yarn also requires to be updated
  yarn.lock
Due: none

added the small small files of the helper.ts
  src/features/lightspeed/vue/views/ansibleCreatorUtils.ts
  src/features/lightspeed/vue/views/fileOperations.ts
  src/features/lightspeed/vue/views/helper.ts
  src/features/lightspeed/vue/views/lightspeedUtils.ts
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

convert the case into class based structure
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

Refactor common functions in vue migrated webviews
  src/features/contentCreator/webviewUtils.ts
  webviews/AddPluginPageApp.vue
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateAnsibleProjectApp.vue
  webviews/CreateRoleApp.vue
Due: eslint

project creation remove unwanted import and comment
  src/features/lightspeed/vue/views/ansibleCreatorUtils.ts
  src/features/lightspeed/vue/views/lightspeedUtils.ts
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

sonar fix
  .sonarcloud.properties
Due: none

test fix
  test/ui/contentCreatorUiTest.ts
Due: eslint

review comment
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

Eliminate non-duplicate functions from webviewUtils.ts file
  src/features/contentCreator/webviewUtils.ts
  webviews/AddPluginPageApp.vue
  webviews/CreateRoleApp.vue
Due: eslint

lint added on top
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

Add class-based approach instead of switch case in webviewUtils.ts file for modularity
  src/features/contentCreator/webviewUtils.ts
Due: eslint

addressed review comments
  src/features/lightspeed/vue/views/ansibleCreatorUtils.ts
  src/features/lightspeed/vue/views/fileOperations.ts
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

review comment
  src/features/lightspeed/vue/views/ansibleCreatorUtils.ts
  src/features/lightspeed/vue/views/fileOperations.ts
  src/features/lightspeed/vue/views/webviewMessageHandlers.ts
Due: eslint

Update yarn.lock
  yarn.lock
Due: none
