Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$


chore(build): rework caching
  .github/workflows/ci.yaml
Due: none

chore(build): rework caching (#2249)
  .github/workflows/ci.yaml
Due: none

chore(deps): update typescript
  package.json
  packages/ansible-language-server/package.json
  packages/ansible-mcp-server/package.json
  packages/ansible-mcp-server/test/performance.ts
  yarn.lock
Due: eslint

eslint errors
  test/ui/lightspeedRoleGenTest.ts
  test/ui/lightspeedUiTestPlaybookExpTest.ts
  test/ui/lightspeedUiTestPlaybookGenNotAvailableTest.ts
  test/ui/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui/uiTestHelper.ts
Due: eslint

ignore no-invalid-void-type eslint error
  test/ui/uiTestHelper.ts
Due: eslint

chore(deps): update typescript (#2250)
  package.json
  packages/ansible-language-server/package.json
  packages/ansible-mcp-server/package.json
  packages/ansible-mcp-server/test/performance.ts
  yarn.lock
Due: eslint

Rename some methods in the ansibleLint file and remove redundant fixHandler
  packages/ansible-mcp-server/src/ansibleLint.ts
  packages/ansible-mcp-server/src/handlers.ts
Due: eslint

strong meta data nd removed the debug-env tool
  packages/ansible-mcp-server/src/handlers.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/test/handlers.ts
  packages/ansible-mcp-server/test/integration.ts
  packages/ansible-mcp-server/test/performance.ts
  packages/ansible-mcp-server/test/server.ts
Due: eslint

name change
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/test/adeIntegration.ts
  packages/ansible-mcp-server/test/server.ts
Due: eslint

adding test cases
  packages/ansible-mcp-server/test/adeTools.ts
Due: eslint

Test changes
  packages/ansible-mcp-server/test/ansibleLint.test.ts
  packages/ansible-mcp-server/test/handlers.ts
Due: eslint

increased the coverage
  packages/ansible-mcp-server/test/errorHandling.ts
  packages/ansible-mcp-server/test/handlers.ts
Due: eslint

lint fix
  packages/ansible-mcp-server/test/errorHandling.ts
Due: eslint

Use playbook file path instead of playbook content
  packages/ansible-mcp-server/src/ansibleLint.ts
  packages/ansible-mcp-server/src/handlers.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/test/ansibleLint.test.ts
Due: eslint

Fix related tests
  packages/ansible-mcp-server/test/ansibleLint.test.ts
Due: eslint

chore: avoid build failures when python 3.14 is default
  .config/mise.ci.toml
  .config/mise.toml
  .env
  .github/workflows/ci.yaml
  .gitignore
  .python-version
  cspell.config.yaml
  eslint.config.mjs
  pyproject.toml
  tools/test-setup.sh
  uv.lock
Due: eslint

renaming the function
  packages/ansible-mcp-server/src/handlers.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/test/handlers.ts
Due: eslint

chore: avoid build failures when python 3.14 is default (#2251)
  .config/mise.ci.toml
  .config/mise.toml
  .env
  .github/workflows/ci.yaml
  .gitignore
  .python-version
  cspell.config.yaml
  eslint.config.mjs
  pyproject.toml
  tools/test-setup.sh
  uv.lock
Due: eslint

test file update with edge cases
  packages/ansible-mcp-server/test/adeTools.ts
Due: eslint

adding comment to ignore comment
  packages/ansible-mcp-server/src/tools/adeTools.ts
Due: eslint

Increase coverage
  packages/ansible-mcp-server/test/ansibleLint.test.ts
Due: eslint

address review comments
  packages/ansible-mcp-server/src/handlers.ts
  packages/ansible-mcp-server/src/tools/ansibleLint.ts
Due: eslint

added comment addressed review comments
  packages/ansible-mcp-server/src/tools/adeTools.ts
  packages/ansible-mcp-server/test/adeTools.ts
Due: eslint

add annotations
  packages/ansible-mcp-server/src/server.ts
Due: eslint

Improve messaging
  packages/ansible-mcp-server/src/tools/ansibleLint.ts
Due: eslint

feat(mcp): enable auto-fix functionality for ansible-lint tool (#2246)
  packages/ansible-mcp-server/src/ansibleLint.ts
  packages/ansible-mcp-server/src/handlers.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/src/tools/ansibleLint.ts
  packages/ansible-mcp-server/test/ansibleLint.test.ts
  packages/ansible-mcp-server/test/handlers.ts
Due: eslint

remove debug-env test cases
  packages/ansible-mcp-server/test/handlers.ts
Due: eslint

test removed
  packages/ansible-mcp-server/test/handlers.ts
Due: eslint

feat(mcp): add support for ansible-dev-environment (#2219)
  packages/ansible-mcp-server/package.json
  packages/ansible-mcp-server/src/handlers.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/src/tools/adeTools.ts
  packages/ansible-mcp-server/test/adeIntegration.ts
  packages/ansible-mcp-server/test/adeTools.ts
  packages/ansible-mcp-server/test/errorHandling.ts
  packages/ansible-mcp-server/test/handlers.ts
  packages/ansible-mcp-server/test/integration.ts
  packages/ansible-mcp-server/test/performance.ts
  packages/ansible-mcp-server/test/server.ts
  packages/ansible-mcp-server/test/testWrapper.ts
Due: eslint

feat(mcp): add create playbook and collections commands
  .vscode/settings.json
  codecov.yml
  eslint.config.mjs
  packages/ansible-mcp-server/src/constants.ts
  packages/ansible-mcp-server/src/dependencyChecker.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/src/tools/creator.ts
  packages/ansible-mcp-server/test/creator.ts
  packages/ansible-mcp-server/test/integration.ts
  packages/ansible-mcp-server/test/performance.ts
  packages/ansible-mcp-server/test/server.ts
  tools/test-launcher.sh
Due: eslint, codecov

feat(mcp): add create playbook and collections commands (#2245)
  .vscode/settings.json
  codecov.yml
  eslint.config.mjs
  packages/ansible-mcp-server/src/constants.ts
  packages/ansible-mcp-server/src/dependencyChecker.ts
  packages/ansible-mcp-server/src/server.ts
  packages/ansible-mcp-server/src/tools/creator.ts
  packages/ansible-mcp-server/test/creator.ts
  packages/ansible-mcp-server/test/integration.ts
  packages/ansible-mcp-server/test/performance.ts
  packages/ansible-mcp-server/test/server.ts
  tools/test-launcher.sh
Due: eslint, codecov

chore: use macos-15 builder
  .github/workflows/ci.yaml
  cspell.config.yaml
  test/ui/terminalUiTest.ts
Due: eslint

chore: add preflight job with fast failure
  .github/actions/setup/action.yml
  .github/workflows/ack.yml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Taskfile.yml
  tools/precheck.sh
  tools/test-setup.sh
Due: none

Refactor and restructure MCP code
  packages/ansible-mcp-server/test/dependencyChecker.test.ts
  packages/ansible-mcp-server/test/errorHandling.test.ts
  packages/ansible-mcp-server/test/handlers.test.ts
  packages/ansible-mcp-server/test/integration.test.ts
  packages/ansible-mcp-server/test/performance.test.ts
  packages/ansible-mcp-server/test/server.test.ts
  packages/ansible-mcp-server/test/tools/adeIntegration.test.ts
  packages/ansible-mcp-server/test/tools/adeTools.test.ts
  packages/ansible-mcp-server/test/tools/ansibleLint.test.ts
  packages/ansible-mcp-server/test/tools/creator.test.ts
Due: eslint

chore(mcp): add preflight job with fast failure
  .dockerignore
  .github/actions/setup/action.yml
  .github/workflows/ack.yml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Containerfile
  Taskfile.yml
  pyproject.toml
  tools/container-build.sh
  tools/precheck.sh
  tools/test-setup.sh
  uv.lock
Due: none

chore(build): add preflight job with fast failure (#2237)
  .dockerignore
  .github/actions/setup/action.yml
  .github/workflows/ack.yml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Containerfile
  Taskfile.yml
  pyproject.toml
  tools/container-build.sh
  tools/precheck.sh
  tools/test-setup.sh
  uv.lock
Due: none

chore(build): refactor and restructure MCP test code (#2252)
  packages/ansible-mcp-server/test/dependencyChecker.test.ts
  packages/ansible-mcp-server/test/errorHandling.test.ts
  packages/ansible-mcp-server/test/handlers.test.ts
  packages/ansible-mcp-server/test/integration.test.ts
  packages/ansible-mcp-server/test/performance.test.ts
  packages/ansible-mcp-server/test/server.test.ts
  packages/ansible-mcp-server/test/tools/adeIntegration.test.ts
  packages/ansible-mcp-server/test/tools/adeTools.test.ts
  packages/ansible-mcp-server/test/tools/ansibleLint.test.ts
  packages/ansible-mcp-server/test/tools/creator.test.ts
Due: eslint

chore: more renovate reconfig (#2224)
  .github/workflows/ci.yaml
  .vscode/settings.json
  biome.json
  renovate.json
Due: none

chore: more renovate reconfig (#2224) (#2254)
  .github/workflows/ci.yaml
  .vscode/settings.json
  biome.json
  renovate.json
Due: none
