Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$


removed comments
  src/features/lightspeed/vue/views/helper.ts
  webviews/lightspeed/src/CreateAnsibleProject.vue
Due: eslint

review comment adreesed
  src/features/lightspeed/vue/views/helper.ts
Due: eslint

Migrating playbook project webview to use Vite JS/Vue (#2057)
  .sonarcloud.properties
  media/contentCreator/createAnsibleProjectPageStyle.css
  src/extension.ts
  src/features/contentCreator/createAnsibleProjectPage.ts
  src/features/lightspeed/vue/views/createAnsibleProjectPanel.ts
  src/features/lightspeed/vue/views/helper.ts
  src/webview/apps/contentCreator/createAnsibleProjectPageApp.ts
  vite.config.ts
  webpack.config.ts
  webviews/lightspeed/create-ansible-project.html
  webviews/lightspeed/src/CreateAnsibleProject.vue
  webviews/lightspeed/src/create-ansible-project.ts
Due: eslint

WIP: Save progress before merging main
  .sonarcloud.properties
  src/extension.ts
  src/features/lightspeed/vue/views/createAnsibleCollectionPanel.ts
  src/features/lightspeed/vue/views/helper.ts
  test/ui/contentCreatorUiTest.ts
  vite.config.ts
  webpack.config.ts
  webviews/lightspeed/create-ansible-collection.html
  webviews/lightspeed/src/CreateAnsibleCollectionApp.vue
Due: eslint

noving all the files
  src/extension.ts
  src/features/contentCreator/vue/views/createAnsibleProjectPanel.ts
  vite.config.ts
  webviews/contentCreator/create-ansible-project.html
  webviews/contentCreator/src/CreateAnsibleProject.vue
  webviews/contentCreator/src/create-ansible-project.ts
Due: eslint

sonar properties update
  .sonarcloud.properties
Due: none

Rename Ansible Project vue file
  webviews/lightspeed/src/CreateAnsibleCollectionApp.vue
  webviews/lightspeed/src/CreateAnsibleProjectApp.vue
  webviews/lightspeed/src/create-ansible-project.ts
Due: eslint

Adujusting ids for tests
  .sonarcloud.properties
  webviews/lightspeed/src/CreateAnsibleCollectionApp.vue
Due: none

Update .sonarcloud.properties file
  .sonarcloud.properties
Due: none

Add App.vue files in .sonarcloud.properties
  .sonarcloud.properties
Due: none

Changes to migrate collection webview from webpack to vite+vue js (#2060)
  .sonarcloud.properties
  media/contentCreator/createAnsibleCollectionPageStyle.css
  src/extension.ts
  src/features/contentCreator/createAnsibleCollectionPage.ts
  src/features/lightspeed/vue/views/createAnsibleCollectionPanel.ts
  src/features/lightspeed/vue/views/helper.ts
  src/webview/apps/contentCreator/createAnsibleCollectionPageApp.ts
  vite.config.ts
  webpack.config.ts
  webviews/lightspeed/create-ansible-collection.html
  webviews/lightspeed/src/CreateAnsibleCollectionApp.vue
  webviews/lightspeed/src/CreateAnsibleProjectApp.vue
  webviews/lightspeed/src/create-ansible-collection.ts
Due: eslint

review comment adressed
  tsconfig.json
  vite.config.ts
  webviews/CreateAnsibleProject.vue
  webviews/create-ansible-project.html
  webviews/create-ansible-project.ts
Due: eslint

conflict resolved
  .sonarcloud.properties
  webviews/CreateAnsibleProjectApp.vue
  webviews/lightspeed/src/CreateAnsibleProjectApp.vue
Due: none

removes ts file
  tsconfig.json
Due: none

sonar properties
  .sonarcloud.properties
Due: none

change the file names in sonar
  .sonarcloud.properties
Due: none

collection project changes
  src/extension.ts
  src/features/contentCreator/vue/views/createAnsibleCollectionPanel.ts
  vite.config.ts
  webviews/CreateAnsibleCollectionApp.vue
  webviews/create-ansible-collection.html
  webviews/create-ansible-collection.ts
Due: eslint

sonar changes
  .sonarcloud.properties
Due: none

wrong file name
  src/extension.ts
Due: eslint

css file resolve
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Directory refactor for all the vue file (#2061)
  .sonarcloud.properties
  src/extension.ts
  src/features/contentCreator/vue/views/createAnsibleCollectionPanel.ts
  src/features/contentCreator/vue/views/createAnsibleProjectPanel.ts
  vite.config.ts
  webviews/CreateAnsibleCollectionApp.vue
  webviews/CreateAnsibleProjectApp.vue
  webviews/create-ansible-collection.html
  webviews/create-ansible-collection.ts
  webviews/create-ansible-project.html
  webviews/create-ansible-project.ts
Due: eslint

Adopt coactions/upload-artifact
  .github/workflows/ci.yaml
Due: none

Resolve the markdownlint errors on README.md docs
  .github/pull_request_template.md
  docs/README.md
  packages/ansible-language-server/README.md
Due: none

doc: extend the dev doc for ViteJs (#2052)
  .config/dictionary.txt
  .sonarcloud.properties
  docs/development/vite.md
  package.json
  src/extension.ts
  src/features/lightspeed/vue/views/helloWorld.ts
  vite.config.ts
  webviews/lightspeed/hello-world.html
  webviews/lightspeed/src/HelloWorld.vue
  webviews/lightspeed/src/hello-world.ts
Due: eslint

Add ADE --im=cfg flag for collection webview
  src/definitions/constants.ts
  src/features/contentCreator/utils.ts
  src/features/lightspeed/vue/views/helper.ts
  test/ui/contentCreatorUiTest.ts
  webviews/CreateAnsibleCollectionApp.vue
Due: eslint

Fix eslint issue
  src/features/lightspeed/vue/views/helper.ts
Due: eslint

Add editable-mode-checkbox id in collectionApp.vue file
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Role migration to use Vite and Vue Js framework
  .sonarcloud.properties
  media/contentCreator/createRolePageStyle.css
  src/extension.ts
  src/features/contentCreator/vue/views/createRolePanel.ts
  src/features/lightspeed/vue/views/helper.ts
  vite.config.ts
  webpack.config.ts
  webviews/CreateRoleApp.vue
  webviews/create-role.html
  webviews/create-role.ts
Due: eslint

Perform ADE check asynchronously without blocking UI to resolve ui tests
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Add id=editable-mode-checkbox to fix ui test
  webviews/CreateAnsibleCollectionApp.vue
Due: none

Update id to resolve ui tests
  test/ui/contentCreatorUiTest.ts
  webviews/CreateAnsibleCollectionApp.vue
Due: eslint

Updating ui tests flow
  test/ui/contentCreatorUiTest.ts
Due: eslint

build the basic structure
  .sonarcloud.properties
  src/extension.ts
  src/features/contentCreator/vue/views/addPluginPagePanel.ts
  src/features/quickLinks/quickLinksView.ts
  webviews/AddPluginPageApp.vue
  webviews/add-plugin-page.html
  webviews/add-plugin-page.ts
Due: eslint

Add ADE `--im=cfg` flag for collection webview (#2063)
  src/definitions/constants.ts
  src/features/contentCreator/utils.ts
  src/features/lightspeed/vue/views/helper.ts
  test/ui/contentCreatorUiTest.ts
  webviews/CreateAnsibleCollectionApp.vue
Due: eslint

create, folder explorer, clear all
  .sonarcloud.properties
  package.json
  src/extension.ts
  src/features/quickLinks/quickLinksView.ts
  vite.config.ts
  webviews/AddPluginPageApp.vue
  webviews/add-plugin.html
  webviews/add-plugin.ts
Due: eslint

Delete Role webview files based on webpack structure
  src/features/contentCreator/createRolePage.ts
  src/webview/apps/contentCreator/createRolePageApp.ts
  webpack.config.ts
  webviews/CreateRoleApp.vue
Due: eslint

Code clean up in few files
  .vscodeignore
  codecov.yml
Due: codecov

chore: simplify test names (#2050)
  packages/ansible-language-server/test/providers/completionProvider.test.ts
  packages/ansible-language-server/test/providers/completionResolver.test.ts
  packages/ansible-language-server/test/providers/definitionProvider.test.ts
  packages/ansible-language-server/test/providers/hoverProvider.test.ts
  packages/ansible-language-server/test/providers/validationProvider.test.ts
  packages/ansible-language-server/test/utils/getAnsibleMetaData.test.ts
  test/e2e/e2eTestSuiteLauncher.test.ts
  test/e2e/lightspeed/e2eInlineSuggestion.test.ts
  test/e2e/lightspeed/testLightSpeedFunctions.test.ts
  test/e2e/lightspeed/testLightspeed.test.ts
  test/e2e/lightspeed/testLightspeedUser.test.ts
  test/e2e/outsideWorkspace/testExtensionForFilesOutsideWorkspace.test.ts
Due: eslint

fix: Fix ansible-language-server URL
  README.md
Due: none
