Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

eslint:
  name: eslint
  entry: npx eslint
  language: system
  verbose: true
  args:
  - --no-warn-ignored
  - --color
  - --format=gha
  - --format=unix
  - --fix

codecov:
  name: Check codecov.yml
  entry: 'bash -c ''[ $( curl --silent -o /dev/stderr -w "%{http_code}" -X POST --data-binary @codecov.yml https://codecov.io/validate ) -eq 200 ]''
  
    '
  language: system
  pass_filenames: false

Check ci jobs on new wsl runner
  .github/workflows/ci.yaml
Due: none

Add tag for the runner
  .github/workflows/ci.yaml
Due: none

test-launcher.sh: keep a copy of the mock-server logs
  tools/test-launcher.sh
Due: none

Correct vsce calls from build scripts
  Taskfile.yml
  package.json
  tools/helper
  yarn.lock
Due: none

Temporary disable broken LS tests
  test/ui-test/lightspeedUiTestPlaybookExpTest.ts
Due: eslint

Constraint python dependencies to ensure reproducible test results
  .config/constraints.txt
  .config/requirements.in
  .github/dependabot.yml
  .github/workflows/ci.yaml
  Taskfile.yml
  cspell.config.yaml
  packages/ansible-language-server/.config/requirements.in
  pyproject.toml
  tools/test-setup.sh
Due: none

Constraint python dependencies to ensure reproducible test results (#1937)
  .config/constraints.txt
  .config/requirements.in
  .github/dependabot.yml
  .github/workflows/ci.yaml
  Taskfile.yml
  cspell.config.yaml
  packages/ansible-language-server/.config/requirements.in
  pyproject.toml
  tools/test-setup.sh
Due: none

Combine explanation webviews and convert to vue.js
  src/extension.ts
  src/features/lightspeed/explorerWebviewViewProvider.ts
  src/features/lightspeed/playbookExplanation.ts
  src/features/lightspeed/roleExplanation.ts
  src/features/lightspeed/utils/explanationUtils.ts
  src/features/lightspeed/vue/views/explanationPanel.ts
  src/features/lightspeed/vue/views/helper.ts
  test/testScripts/lightspeed/testLightSpeedFunctions.test.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookExpTest.ts
  test/ui-test/lightspeedUiTestRoleExpTest.ts
  vite.config.ts
  webviews/lightspeed/explanation.html
  webviews/lightspeed/src/ExplanationApp.vue
  webviews/lightspeed/src/explanation.ts
Due: eslint

Fix cursor bugs in outline review textarea
  test/units/lightspeed/utils/outlineLineNumbers.test.ts
  tsconfig.json
  webviews/lightspeed/src/components/OutlineReview.vue
  webviews/lightspeed/src/utils/index.ts
  webviews/lightspeed/src/utils/outlineLineNumbers.ts
Due: eslint

Pass prop in to OutlineReview to control overview text
  webviews/lightspeed/src/PlaybookGenApp.vue
  webviews/lightspeed/src/RoleGenApp.vue
  webviews/lightspeed/src/components/OutlineReview.vue
Due: none

Test cleanup
  test/ui-test/lightspeedUiTestPlaybookExpTestNoExpTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
Due: eslint

Remove more unused code
  media/roleExplanation/style.css
  src/webview/apps/lightspeed/playbookExplanation/main.ts
  src/webview/apps/lightspeed/roleExplanation/main.ts
  webpack.config.ts
Due: eslint

Add step to install adt with pipx
  .github/workflows/ci.yaml
Due: none

Enable test-ui for wsl
  .github/workflows/ci.yaml
Due: none

Enable test-e2e for wsl
  .github/workflows/ci.yaml
Due: none

Skip "With EE enabled @ee" als test case
  packages/ansible-language-server/test/providers/validationProvider.test.ts
Due: eslint

Enable Upload vsix artifact for wsl
  .github/workflows/ci.yaml
Due: none

Skip "With EE enabled @ee" als test case (#1941)
  packages/ansible-language-server/test/providers/validationProvider.test.ts
Due: eslint

Various UX improvements to playbook and role gen views (#1925)
  test/units/lightspeed/utils/outlineLineNumbers.test.ts
  tsconfig.json
  webviews/lightspeed/src/PlaybookGenApp.vue
  webviews/lightspeed/src/RoleGenApp.vue
  webviews/lightspeed/src/components/OutlineReview.vue
  webviews/lightspeed/src/utils/index.ts
  webviews/lightspeed/src/utils/outlineLineNumbers.ts
Due: eslint

Remove ci.yaml file
  .github/workflows/ci.yaml
Due: none

Update requirements.in
  .config/requirements.in
Due: none

Update constraints.txt
  .config/constraints.txt
Due: none

Update podman devcontainer template to match ansible-creator
  .config/dictionary.txt
  resources/contentCreator/createDevcontainer/.devcontainer/podman/devcontainer-template.txt
Due: none

Correct vsce calls from build scripts (#1934)
  Taskfile.yml
  tools/helper
Due: none

Check for the minimum ansible-creator version required to initialize an EE project (#1902)
  src/features/contentCreator/createExecutionEnvPage.ts
Due: eslint

Addition of role scaffolding webview using ansible-creator command (#1929)
  .config/dictionary.txt
  .sonarcloud.properties
  .vscodeignore
  codecov.yml
  media/contentCreator/createRolePageStyle.css
  package.json
  src/extension.ts
  src/features/contentCreator/createRolePage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createRolePageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint, codecov

Update podman devcontainer template to match ansible-creator (#1945)
  .config/dictionary.txt
  resources/contentCreator/createDevcontainer/.devcontainer/podman/devcontainer-template.txt
Due: none

Use mise instead of asdf
  .config/Taskfile_shared.yml
  .config/dictionary.txt
  .config/requirements.in
  .env
  .envrc
  .github/workflows/ci.yaml
  .github/workflows/dedupe.yml
  .tool-versions
  Taskfile.yml
  mise.latest.toml
  mise.toml
  packages/ansible-language-server/Taskfile.yml
  tools/helper
  tools/test-setup.sh
Due: none

build: Make HOSTNAME environment variable optional
  .config/Taskfile_shared.yml
  .config/mise.toml
  .envrc
  Taskfile.yml
  tools/test-setup.sh
Due: none

Adjust __getWebviewHtml__ params after vite-plugin-vscode upgraded to 4.0.0
  src/features/lightspeed/vue/views/helper.ts
Due: eslint

build: Make HOSTNAME environment variable optional (#1947)
  .config/Taskfile_shared.yml
  .config/mise.toml
  .envrc
  Taskfile.yml
  tools/test-setup.sh
Due: none

build: replace black with ruff reformat
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Due: none

build: replace black with ruff reformat (#1948)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Due: none

build: enable toml-sort-fix
  .config/dictionary.txt
  .config/mise.toml
  .gitleaks.toml
  .pre-commit-config.yaml
  .taplo.toml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Due: none

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

