Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$


AAP-34645: Add “Generate a Playbook” Button to Side Panel
  src/features/lightspeed/utils/explorerView.ts
  src/webview/apps/lightspeed/explorer/main.ts
  test/ui-test/lightspeedUiTestExplorer.ts
Due: eslint

Updates following peer review.
  test/ui-test/lightspeedUiTestExplorer.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
Due: eslint

Disable explanation thumbs up and thumbs down buttons after selection
  src/webview/apps/lightspeed/playbookExplanation/main.ts
  test/ui-test/lightspeedUiTestPlaybookExpTest.ts
Due: eslint

Updates following peer review.
  test/ui-test/lightspeedUiTestExplorer.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/walkthroughUiTest.ts
Due: eslint

Add “Generate a Playbook” Button to Side Panel (#1692)
  src/features/lightspeed/utils/explorerView.ts
  src/webview/apps/lightspeed/explorer/main.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/walkthroughUiTest.ts
Due: eslint

Revert "Add “Generate a Playbook” Button to Side Panel (#1692)"
  src/features/lightspeed/utils/explorerView.ts
  src/webview/apps/lightspeed/explorer/main.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/walkthroughUiTest.ts
Due: eslint

Update name of ui test upload from unit to ui
  .github/workflows/ci.yaml
Due: none

Update name of ui test upload from unit to ui (#1718)
  .github/workflows/ci.yaml
Due: none

codecov: ignore the webview file
  codecov.yml
Due: codecov

Disable explanation thumbs up and thumbs down buttons after selection (#1715)
  src/webview/apps/lightspeed/playbookExplanation/main.ts
  test/ui-test/lightspeedUiTestPlaybookExpTest.ts
Due: eslint

Revert "Add “Generate a Playbook” Button to Side Panel (#1692)" (#1717)
  src/features/lightspeed/utils/explorerView.ts
  src/webview/apps/lightspeed/explorer/main.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/walkthroughUiTest.ts
Due: eslint

Update compare_devcontainer.sh
  tools/compare_devfile.sh
Due: none

Update compare_devfile.sh and compare_devcontainer.sh
  tools/compare_devcontainer.sh
  tools/compare_devfile.sh
Due: none

Add dev_container_image and update devcontainer-template.txt file
  resources/contentCreator/createDevcontainer/devcontainer-template.txt
  src/features/contentCreator/createDevcontainerPage.ts
Due: eslint

add support for pluginType dropdown and other UI changes
  media/contentCreator/addPluginPageStyle.css
  src/features/contentCreator/addPluginPage.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
Due: eslint

Adding dropdown options for devcontainer images
  .config/dictionary.txt
  .vscode/launch.json
  resources/contentCreator/createDevcontainer/.devcontainer/devcontainer.json.j2
  resources/contentCreator/createDevcontainer/.devcontainer/docker/devcontainer.json.j2
  resources/contentCreator/createDevcontainer/.devcontainer/podman/devcontainer.json.j2
  src/definitions/constants.ts
  src/features/contentCreator/createDevcontainerPage.ts
  src/features/contentCreator/types.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
  tools/compare_devcontainer.sh
Due: eslint

Add userns in dictionary.txt
  .config/dictionary.txt
  .vscode/launch.json
Due: none

Fix eslint errors
  src/features/contentCreator/createDevcontainerPage.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
Due: eslint

tools/test-launcher.sh: drop the -x flag
  tools/test-launcher.sh
Due: none

AAP-34645: Add “Generate a Playbook” Button to Side Panel
  src/features/lightspeed/utils/explorerView.ts
  src/webview/apps/lightspeed/explorer/main.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/walkthroughUiTest.ts
Due: eslint

Only run tests requiring the Authentication pipeline on Darwin/macOS
  test/ui-test/lightspeedOneClickTrialUITest.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
Due: eslint

Use helper function to close Editor(s)
  test/ui-test/lightspeedOneClickTrialUITest.ts
Due: eslint

Add “Generate a Playbook” Button to Side Panel (#1720)
  src/features/lightspeed/utils/explorerView.ts
  src/webview/apps/lightspeed/explorer/main.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/walkthroughUiTest.ts
Due: eslint

add required fields entry in the UI
  media/contentCreator/addPluginPageStyle.css
  src/features/contentCreator/addPluginPage.ts
Due: eslint

changes to open plugin file in the editor
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Add Webview to scaffold sample execution-environment.yml file
  .vscodeignore
  media/contentCreator/createSampleExecutionEnvPageStyle.css
  package.json
  src/extension.ts
  src/features/contentCreator/createSampleExecutionEnvPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createSampleExecutionEnvPageApp.ts
  webpack.config.ts
Due: eslint

AAP-37422: Empty line at the top of the file break completion
  src/features/lightspeed/utils/multiLinePromptForMultiTasks.ts
  test/units/lightspeed/utils/multiLinePromptForMultiTasks.test.ts
Due: eslint

UI Tests
  .sonarcloud.properties
  media/contentCreator/createSampleExecutionEnvPageStyle.css
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Resolving bugs related to minimum version of ansible-creator
  src/definitions/constants.ts
  src/features/contentCreator/createAnsibleCollectionPage.ts
  src/features/contentCreator/createAnsibleProjectPage.ts
  src/features/contentCreator/utils.ts
Due: eslint

Resolving bugs related to minimum version of ansible-creator (#1726)
  src/definitions/constants.ts
  src/features/contentCreator/createAnsibleCollectionPage.ts
  src/features/contentCreator/createAnsibleProjectPage.ts
  src/features/contentCreator/utils.ts
Due: eslint

Check minimum creator version to scaffold ee file and new badge
  src/definitions/constants.ts
  src/features/contentCreator/createSampleExecutionEnvPage.ts
  src/features/quickLinks/quickLinksView.ts
Due: eslint

Add Webview to scaffold sample execution-environment.yml file
  .sonarcloud.properties
  .vscodeignore
  media/contentCreator/createSampleExecutionEnvPageStyle.css
  package.json
  src/definitions/constants.ts
  src/extension.ts
  src/features/contentCreator/createSampleExecutionEnvPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createSampleExecutionEnvPageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint

Workaround for codecov-action bug with oidc
  .github/workflows/ci.yaml
Due: none

Workaround for codecov-action bug with oidc (#1728)
  .github/workflows/ci.yaml
Due: none

Update createDevcontainerPage.ts to fix eslint issues
  src/features/contentCreator/createDevcontainerPage.ts
Due: eslint
