Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

eslint:
  name: eslint
  entry: npx eslint
  language: system
  verbose: true
  args:
  - --no-warn-ignored
  - --color
  - --format=gha
  - --format=unix
  - --fix

codecov:
  name: Check codecov.yml
  entry: 'bash -c ''[ $( curl --silent -o /dev/stderr -w "%{http_code}" -X POST --data-binary @codecov.yml https://codecov.io/validate ) -eq 200 ]''
  
    '
  language: system
  pass_filenames: false

Add dev_container_image and update devcontainer-template.txt file
  resources/contentCreator/createDevcontainer/devcontainer-template.txt
  src/features/contentCreator/createDevcontainerPage.ts
Due: eslint

Adding dropdown options for devcontainer images
  .config/dictionary.txt
  .vscode/launch.json
  resources/contentCreator/createDevcontainer/.devcontainer/devcontainer.json.j2
  resources/contentCreator/createDevcontainer/.devcontainer/docker/devcontainer.json.j2
  resources/contentCreator/createDevcontainer/.devcontainer/podman/devcontainer.json.j2
  src/definitions/constants.ts
  src/features/contentCreator/createDevcontainerPage.ts
  src/features/contentCreator/types.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
  tools/compare_devcontainer.sh
Due: eslint

Update compare_devcontainer.sh
  tools/compare_devfile.sh
Due: none

Add userns in dictionary.txt
  .config/dictionary.txt
  .vscode/launch.json
Due: none

Update tests for devcontainer webview generation
  test/ui-test/contentCreatorUiTestNoCreatorTest.ts
Due: eslint

Add tests for devcontainer generation
  src/features/contentCreator/createDevcontainerPage.ts
  test/ui-test/contentCreatorUiTestNoCreatorTest.ts
Due: eslint

Update compare_devfile.sh and compare_devcontainer.sh
  tools/compare_devcontainer.sh
  tools/compare_devfile.sh
Due: none

Add correct hierarchy of .devcontainer directory at target path
  resources/contentCreator/createDevcontainer/.devcontainer/devcontainer-template.txt
  resources/contentCreator/createDevcontainer/.devcontainer/docker/devcontainer-template.txt
  resources/contentCreator/createDevcontainer/.devcontainer/podman/devcontainer-template.txt
  src/features/contentCreator/createDevcontainerPage.ts
  tools/compare_devcontainer.sh
Due: eslint

Add Webview for Generating a Devcontainer without ansible-creator
  .config/dictionary.txt
  .pre-commit-config.yaml
  .vscodeignore
  media/contentCreator/createDevcontainerPageStyle.css
  package.json
  resources/contentCreator/createDevcontainer/devcontainer-template.txt
  src/definitions/constants.ts
  src/extension.ts
  src/features/contentCreator/createDevcontainerPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
  tools/compare_devcontainer.sh
  webpack.config.ts
Due: eslint

Update .devcontainer scaffolding
  src/features/contentCreator/createDevcontainerPage.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
Due: eslint

Remove Project name from devcontainer webview
  media/contentCreator/createDevcontainerPageStyle.css
  src/features/contentCreator/createDevcontainerPage.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
  test/ui-test/contentCreatorUiTestNoCreatorTest.ts
Due: eslint

Fix eslint errors
  src/features/contentCreator/createDevcontainerPage.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
Due: eslint

add tests and sonarcloud exclusions
  .sonarcloud.properties
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Import getCreatorVersion from utils file
  codecov.yml
  src/features/contentCreator/createSampleExecutionEnvPage.ts
Due: eslint, codecov

fix linux failure
  src/features/contentCreator/addPluginPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Excluding files from Sonarcloud Analysis
  .sonarcloud.properties
  src/features/contentCreator/createDevcontainerPage.ts
Due: eslint

Refine createDevcontainerPage.ts file
  src/features/contentCreator/createDevcontainerPage.ts
Due: eslint

Add createDevcontainerPageApp.ts file in codecov.yml file
  codecov.yml
Due: codecov

tools/test-launcher.sh: drop the -x flag (#1707)
  tools/test-launcher.sh
Due: none

Remove logging into a file
  media/contentCreator/createSampleExecutionEnvPageStyle.css
  src/features/contentCreator/createSampleExecutionEnvPage.ts
  src/features/contentCreator/types.ts
  src/webview/apps/contentCreator/createSampleExecutionEnvPageApp.ts
Due: eslint

Add Webview to scaffold sample execution-environment.yml file using creator add subcommand (#1727)
  .sonarcloud.properties
  .vscodeignore
  codecov.yml
  media/contentCreator/createSampleExecutionEnvPageStyle.css
  package.json
  src/definitions/constants.ts
  src/extension.ts
  src/features/contentCreator/createSampleExecutionEnvPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createSampleExecutionEnvPageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint, codecov

fix linux failure: attempt 2
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Add a webview to scaffold plugins through creator add subcommand
  .sonarcloud.properties
  .vscodeignore
  media/contentCreator/addPluginPageStyle.css
  package.json
  src/extension.ts
  src/features/contentCreator/addPluginPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint

Increase node memory on GH runners
  .envrc
Due: none

Increase node memory on GH runners (#1731)
  .envrc
Due: none

Remove use of creator '--no-overwrite' param and introduce workaround
  .sonarcloud.properties
  src/features/contentCreator/createAnsibleCollectionPage.ts
  src/features/contentCreator/createAnsibleProjectPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Remove redundant information message and longer sleep time for tests
  src/features/contentCreator/createAnsibleProjectPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Install ansible-creator before tests
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Add addPluginPageApp.ts entry in codecov.yml file
  codecov.yml
Due: codecov

Remove Auto image option from container image
  src/definitions/constants.ts
  src/features/contentCreator/createDevcontainerPage.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
Due: eslint

Add --no-overwrite param to execution-environment creator command in the webview
  src/definitions/constants.ts
  src/features/contentCreator/createSampleExecutionEnvPage.ts
Due: eslint

use variable instead of hardcoding
  src/features/contentCreator/createSampleExecutionEnvPage.ts
Due: eslint

logs cleanup
  media/contentCreator/addPluginPageStyle.css
  src/features/contentCreator/addPluginPage.ts
  src/features/contentCreator/types.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
Due: eslint

no need of force and ANSIBLE_CREATOR_VERSION_MIN
  src/features/contentCreator/addPluginPage.ts
Due: eslint

try setting NODE_OPTIONS in ci.yaml
  .github/workflows/ci.yaml
Due: none

try setting NODE_OPTIONS in taskfile
  Taskfile.yml
Due: none

Add tests for overwrite and no-overwrite
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Increase asynchronous timeout
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Install creator before running test function
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Add --no-overwrite param to execution-environment creator command in the webview (#1733)
  src/definitions/constants.ts
  src/features/contentCreator/createSampleExecutionEnvPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

