Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$


Add testcase to contentCreatorNoCreatorTest.ts file
  .vscodeignore
  test/ui-test/contentCreatorUiTestNoCreatorTest.ts
Due: eslint

try setting NODE_OPTIONS in taskfile
  Taskfile.yml
Due: none

Add a webview to scaffold plugins through creator add subcommand
  .sonarcloud.properties
  .vscodeignore
  media/contentCreator/addPluginPageStyle.css
  package.json
  src/extension.ts
  src/features/contentCreator/addPluginPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint

logs cleanup
  media/contentCreator/addPluginPageStyle.css
  src/features/contentCreator/addPluginPage.ts
  src/features/contentCreator/types.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
Due: eslint

no need of force and ANSIBLE_CREATOR_VERSION_MIN
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Add addPluginPageApp.ts entry in codecov.yml file
  codecov.yml
Due: codecov

try setting NODE_OPTIONS in ci.yaml
  .github/workflows/ci.yaml
Due: none

Testing setting node options in package
  .github/workflows/ci.yaml
Due: none

Add NODE_OPTIONS env var to the package step
  .github/workflows/ci.yaml
Due: none

Removing redundant env setting
  .github/workflows/ci.yaml
Due: none

Add NODE_OPTIONS env var in the package step
  .github/workflows/ci.yaml
Due: none

Fix linting errors and sort quicklintViews for add section
  src/features/contentCreator/addPluginPage.ts
  src/features/quickLinks/quickLinksView.ts
Due: eslint

Test improvements in contentCreatorUiTest for plugin webview testing
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Test improvements in contentCreatorUiTest for plugin webview testing: part 2
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Add Webview for Generating a Devcontainer without ansible-creator (#1708)
  .config/dictionary.txt
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .sonarcloud.properties
  .vscodeignore
  codecov.yml
  media/contentCreator/createDevcontainerPageStyle.css
  package.json
  resources/contentCreator/createDevcontainer/.devcontainer/devcontainer-template.txt
  resources/contentCreator/createDevcontainer/.devcontainer/docker/devcontainer-template.txt
  resources/contentCreator/createDevcontainer/.devcontainer/podman/devcontainer-template.txt
  src/definitions/constants.ts
  src/extension.ts
  src/features/contentCreator/createDevcontainerPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createDevcontainerPageApp.ts
  test/ui-test/contentCreatorUiTestNoCreatorTest.ts
  tools/compare_devcontainer.sh
  webpack.config.ts
Due: eslint, codecov

remove NODE_OPTIONS from where that's not needed
  .github/workflows/ci.yaml
  Taskfile.yml
Due: none

Add a webview to scaffold plugins through creator add subcommand (#1729)
  .sonarcloud.properties
  .vscodeignore
  codecov.yml
  media/contentCreator/addPluginPageStyle.css
  package.json
  src/extension.ts
  src/features/contentCreator/addPluginPage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/addPluginPageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint, codecov

Ensure NODE_OPTIONS is the same on local and CI
  .config/dictionary.txt
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  tools/precheck.py
Due: none

Ensure NODE_OPTIONS is the same on local and CI (#1741)
  .config/dictionary.txt
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  tools/precheck.py
Due: none

Adds devel pipeline that tests with unreleased direct dependencies
  .config/requirements-devel.in
  .github/workflows/ci.yaml
  tools/test-setup.sh
Due: none

Use default shell instead of bash for running commands
  .config/Taskfile_shared.yml
  .github/workflows/ci.yaml
  Taskfile.yml
  docs/als/README.md
  packages/ansible-language-server/Taskfile.yml
  packages/ansible-language-server/src/services/executionEnvironment.ts
  packages/ansible-language-server/src/utils/misc.ts
  packages/ansible-language-server/test/utils/withInterpreter.test.ts
  src/features/ansibleTox/runner.ts
  src/features/utils/commandRunner.ts
  test/testFixtures/settings.json
Due: eslint

Update outdated URL to ALS settings
  docs/als/README.md
Due: none

Use mise instead of asdf if present
  .env
  .github/workflows/ci.yaml
  .tool-versions
  mise.toml
  packages/ansible-language-server/Taskfile.yml
  tools/test-setup.sh
Due: none

Update outdated URL to ALS settings (#1742)
  docs/als/README.md
Due: none

Fix failing UI tests
  test/ui-test/terminalUiTest.ts
Due: eslint

Update description message in contentCreatorUiTest.ts file
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Make build environment more flexible
  .env
  .envrc
  .github/workflows/ci.yaml
  .tool-versions
  .vscode/settings.json
  Taskfile.yml
  packages/ansible-language-server/Taskfile.yml
  tools/precheck.py
  tools/test-setup.sh
Due: none

Make build environment more flexible (#1748)
  .env
  .envrc
  .github/workflows/ci.yaml
  .tool-versions
  .vscode/settings.json
  Taskfile.yml
  packages/ansible-language-server/Taskfile.yml
  tools/precheck.py
  tools/test-setup.sh
Due: none

Add installation of ansible-navigator
  .github/workflows/ci.yaml
Due: none

Update file name in addPluginPage.ts
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Install ADT
  .github/workflows/ci.yaml
Due: none

Sort quick links view on Ansible Development Tools welcome page
  src/features/quickLinks/quickLinksView.ts
Due: eslint

Corrections
  src/features/quickLinks/quickLinksView.ts
Due: eslint

Update plugin webview: change the order of plugin type and plugin name in the view
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Removing unnecessary toast to align with other forms and fix tests
  src/features/contentCreator/createAnsibleProjectPage.ts
Due: eslint

Install Ansible-navigator in terminalUiTest.ts
  .github/workflows/ci.yaml
  test/ui-test/terminalUiTest.ts
Due: eslint

Remove commented out popup notification code from createAnsibleProject.ts file
  src/features/contentCreator/createAnsibleProjectPage.ts
  test/ui-test/terminalUiTest.ts
Due: eslint

Update ci.yaml
  .github/workflows/ci.yaml
  test/ui-test/terminalUiTest.ts
Due: eslint

Update ci.yaml file
  .github/workflows/ci.yaml
Due: none
