Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

eslint:
  name: eslint
  entry: npx eslint
  language: system
  verbose: true
  args:
  - --no-warn-ignored
  - --color
  - --format=gha
  - --format=unix
  - --fix

codecov:
  name: Check codecov.yml
  entry: 'bash -c ''[ $( curl --silent -o /dev/stderr -w "%{http_code}" -X POST --data-binary @codecov.yml https://codecov.io/validate ) -eq 200 ]''
  
    '
  language: system
  pass_filenames: false

changed version
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Changed the req creator version from 25.3.0 to 25.3.1 for module and test
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Revert "Add support to scaffold test plugin in the Collection plugin webview with test"
  src/features/contentCreator/addPluginPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Add support to scaffold Test plugin in Collection plugin webview
  src/features/contentCreator/addPluginPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Update ansible-creator version for Module plugin
  src/features/contentCreator/addPluginPage.ts
Due: eslint

Re-introduce lightspeed enabled checkbox
  docs/README.md
  package.json
  src/extension.ts
  src/features/ansibleMetaData.ts
  src/features/lightspeed/base.ts
  src/features/lightspeed/lightspeedUser.ts
  src/features/lightspeed/statusBar.ts
  src/interfaces/extensionSettings.ts
  src/settings.ts
  test/helper.ts
  test/testFixtures/settings.json
  test/ui-test/lightspeedAuthUiTest.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
  test/ui-test/lightspeedRoleGenTest.ts
  test/ui-test/lightspeedUiTestActiveBarTest.ts
  test/ui-test/lightspeedUiTestExplorerTest.ts
  test/ui-test/lightspeedUiTestPlaybookExpTest.ts
  test/ui-test/lightspeedUiTestPlaybookExpTestNoExpTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenNotAvailableTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenTest.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart1Test.ts
  test/ui-test/lightspeedUiTestPlaybookGenWebviewPart2Test.ts
  test/ui-test/lightspeedUiTestRoleExpTest.ts
  test/ui-test/lightspeedUiTestStatusBarAndExplorerViewTest.ts
  test/ui-test/walkthroughUiTest.ts
  tools/test-launcher.sh
Due: eslint

Remove unnecessary extra logic
  src/extension.ts
Due: eslint

Clean up test after changing webview UX
  test/ui-test/lightspeedUiTestStatusBarAndExplorerViewNoLSTest.ts
Due: eslint

Make ansible.lightspeed.enabled true by default and hide lightspeed webviews when lightspeed not enabled
  package.json
Due: none

Flip enabled to true
  src/settings.ts
Due: eslint

lightspeed: login popup now exposes a "Disable Lightspeed" option
  src/features/lightspeed/lightspeedUser.ts
  src/settings.ts
Due: eslint

lightspeed/gen: enable contentMatch
  src/features/lightspeed/vue/views/helper.ts
Due: eslint

document the LIGHTSPEED_PREFER_RHSSO_AUTH envvar
  docs/README.md
Due: none

reverted change
  src/features/contentCreator/addPluginPage.ts
Due: eslint

changed dir from sample_module to modules (#1900)
  src/features/contentCreator/addPluginPage.ts
  src/features/quickLinks/quickLinksView.ts
Due: eslint

Update "~" with os.homdir() storing it in a common variable
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

Add support to scaffold Test plugin in Collection plugin webview (#1908)
  src/features/contentCreator/addPluginPage.ts
  test/ui-test/contentCreatorUiTest.ts
Due: eslint

package.json: no need to run tsc in production mode
  package.json
Due: none

lightspeed: avoid a race condition
  src/extension.ts
  src/utils/settings.ts
Due: eslint

Enable the initEEProjectCheckbox by default
  src/features/contentCreator/createExecutionEnvPage.ts
  src/webview/apps/contentCreator/createExecutionEnvPageApp.ts
Due: eslint

DRAFT - Lightspeed logger clean up
  src/features/lightspeed/base.ts
  src/features/lightspeed/lightSpeedOAuthProvider.ts
  src/features/lightspeed/lightspeedUser.ts
Due: eslint

Lightspeed logger clean up
  src/features/lightspeed/base.ts
  src/features/lightspeed/lightSpeedOAuthProvider.ts
  src/features/lightspeed/lightspeedUser.ts
  src/utils/logger.ts
Due: eslint

lightspeed: use the logger and reduce the severity of msgs
  src/features/lightspeed/api.ts
  src/features/lightspeed/base.ts
  src/features/lightspeed/lightSpeedOAuthProvider.ts
  src/features/lightspeed/lightspeedUser.ts
Due: eslint

lightspeed: remove seat management
  src/features/lightspeed/api.ts
  src/features/lightspeed/contentMatchesWebview.ts
  src/features/lightspeed/inlineSuggestions.ts
  src/features/lightspeed/lightSpeedOAuthProvider.ts
  src/features/lightspeed/lightspeedUser.ts
  src/features/lightspeed/statusBar.ts
  src/features/lightspeed/utils/webUtils.ts
  src/interfaces/lightspeed.ts
  test/testScripts/lightspeed/testLightSpeedFunctions.test.ts
  test/testScripts/lightspeed/testLightspeed.test.ts
  test/testScripts/lightspeed/testLightspeedUser.test.ts
  test/units/lightspeed/contentmatches.test.ts
Due: eslint

Testing out main branch test stability
  docs/README.md
Due: none

Checking tests with wslv2
  .github/workflows/ci.yaml
Due: none

Add asdf commands
  .github/workflows/ci.yaml
Due: none

Add python setup
  .github/workflows/ci.yaml
Due: none

Fix for vault command
  examples/playbooks/play1.yml
  examples/vault-ids-example/play.yml
  examples/vault-ids-example/vault-prod
  examples/vault-ids-example/vault-staging
  src/extension.ts
  src/features/utils/ansibleCfg.ts
  src/features/vault.ts
Due: eslint

Try setting ansible-lint to a specific version for testing purposes
  .config/requirements.in
Due: none

use ==
  .config/requirements.in
Due: none

Further reduce ansible-lint version
  .config/requirements.in
Due: none

Addition of role scaffolding webview using ansible-creator command
  .config/dictionary.txt
  .sonarcloud.properties
  .vscodeignore
  codecov.yml
  media/contentCreator/createRolePageStyle.css
  package.json
  src/extension.ts
  src/features/contentCreator/createRolePage.ts
  src/features/contentCreator/types.ts
  src/features/quickLinks/quickLinksView.ts
  src/webview/apps/contentCreator/createRolePageApp.ts
  test/ui-test/contentCreatorUiTest.ts
  webpack.config.ts
Due: eslint, codecov

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

