Repository ansible/vscode-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, codecov

eslint:
  name: eslint
  entry: npx eslint
  language: system
  verbose: true
  args:
  - --color
  - --format=gha
  - --format=unix
  - --fix

codecov:
  name: Check codecov.yml
  entry: 'bash -c ''[ $( curl --silent -o /dev/stderr -w "%{http_code}" -X POST --data-binary @codecov.yml https://codecov.io/validate ) -eq 200 ]''
  
    '
  language: system
  pass_filenames: false

Update test dependencies (#1462)
  .pre-commit-config.yaml
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  eslint.config.mjs
  package.json
  packages/ansible-language-server/package.json
  yarn.lock
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Update dependencies (#1466)
  package.json
  yarn.lock
Due: none

Support MOCHA_INVERT envvar in E2E test (#1455)
  test/index.ts
Due: eslint

Add file icon
  images/ansible-fileicon.svg
  package.json
Due: none

lightspeed/trial: adjust the pop-up message
  src/features/lightspeed/utils/oneClickTrial.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
Due: eslint

Code refactor and welcome page title update
  media/welcomePage/style.css
  package.json
  src/extension.ts
  src/features/contentCreator/welcomePage.ts
  src/features/welcomePage/index.ts
  src/webview/apps/welcomePage/welcomePageApp.ts
  test/ui-test/lightspeedUiTest.ts
  webpack.config.ts
Due: eslint

lightspeed: adjust the trial pop-up message (#1470)
  src/features/lightspeed/utils/oneClickTrial.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
Due: eslint

test: update jsdom
  .pre-commit-config.yaml
  package.json
  src/webview/apps/common/editableList.ts
  yarn.lock
Due: eslint

test: update jsdom (#1471)
  .pre-commit-config.yaml
  package.json
  src/webview/apps/common/editableList.ts
  yarn.lock
Due: eslint

Make als tests recognize SKIP_DOCKER and SKIP_PODMAN
  .config/dictionary.txt
  .envrc
  .github/workflows/ci.yaml
  .nycrc.yml
  packages/ansible-language-server/.nycrc.yml
  packages/ansible-language-server/Taskfile.yml
  packages/ansible-language-server/package.json
  packages/ansible-language-server/test/fixtures/completion/dynamic_inventory.py
  packages/ansible-language-server/test/helper.ts
  packages/ansible-language-server/test/index.ts
  packages/ansible-language-server/test/rootMochaHooks.ts
  packages/ansible-language-server/tsconfig.json
  tools/convert-als-coverage-lcov.sh
Due: eslint

Make als tests recognize SKIP_DOCKER and SKIP_PODMAN (#1469)
  .config/dictionary.txt
  .envrc
  .github/workflows/ci.yaml
  .nycrc.yml
  packages/ansible-language-server/.nycrc.yml
  packages/ansible-language-server/Taskfile.yml
  packages/ansible-language-server/package.json
  packages/ansible-language-server/test/fixtures/completion/dynamic_inventory.py
  packages/ansible-language-server/test/helper.ts
  packages/ansible-language-server/test/index.ts
  packages/ansible-language-server/test/rootMochaHooks.ts
  packages/ansible-language-server/tsconfig.json
  tools/convert-als-coverage-lcov.sh
Due: eslint

Refactor GHA build steps
  .c8rc
  .config/Containerfile
  .config/dictionary.txt
  .github/workflows/ci.yaml
  Taskfile.yml
  codecov.yml
  package.json
  packages/ansible-language-server/package.json
  pyproject.toml
  test/testRunner.ts
Due: eslint, codecov

ui tests for welcome page
  src/features/welcomePage/index.ts
  test/ui-test/allTestsSuite.ts
  test/ui-test/welcomePageUITest.ts
Due: eslint

Refactor GHA build steps (#1446)
  .c8rc
  .config/Containerfile
  .config/dictionary.txt
  .github/workflows/ci.yaml
  Taskfile.yml
  codecov.yml
  package.json
  packages/ansible-language-server/package.json
  pyproject.toml
  test/testRunner.ts
Due: eslint, codecov

test: update selenium webdriver
  package.json
  yarn.lock
Due: none

Fix function name casing
  test/ui-test/allTestsSuite.ts
  test/ui-test/welcomePageUITest.ts
Due: eslint

test: update selenium webdriver (#1476)
  package.json
  yarn.lock
Due: none

Limiting vscode-extension-tester dep temporarily
  package.json
  yarn.lock
Due: none

Make dependabot update extester separately
  .config/dictionary.txt
  .github/dependabot.yml
  package.json
  yarn.lock
Due: none

Use python3 executable everywhere
  examples/collections/ansible_collections/my_namespace/my_collection/plugins/modules/my_test.py
  packages/ansible-language-server/test/utils/getAnsibleMetaData.test.ts
  packages/ansible-language-server/test/utils/runCommand.test.ts
  packages/ansible-language-server/test/utils/withInterpreter.test.ts
  test/units/contentCreator/utilities.test.ts
  tools/test-setup.sh
Due: eslint

Separate vscode-extension-tester in dependabot config (#1477)
  .config/dictionary.txt
  .github/dependabot.yml
Due: none

test: use python3 executable everywhere (#1444)
  examples/collections/ansible_collections/my_namespace/my_collection/plugins/modules/my_test.py
  packages/ansible-language-server/test/utils/getAnsibleMetaData.test.ts
  packages/ansible-language-server/test/utils/runCommand.test.ts
  packages/ansible-language-server/test/utils/withInterpreter.test.ts
  test/units/contentCreator/utilities.test.ts
  tools/test-setup.sh
Due: eslint

Reduce test console noise
  package.json
Due: none

fix for lightspeed one click trial and auth test failure
  packages/ansible-language-server/src/ansibleLanguageService.ts
  test/ui-test/lightspeedAuthUiTest.ts
  test/ui-test/lightspeedOneClickTrialUITest.ts
  test/ui-test/welcomePageUITest.ts
Due: eslint

Test fix for volume mounts
  tools/test-setup.sh
Due: none

test: build fixes for aarch64
  .config/dictionary.txt
  .envrc
  .vscode/launch.json
  .vscode/settings.json
  tools/test-setup.sh
Due: none

test: build fixes for aarch64 (#1485)
  .config/dictionary.txt
  .envrc
  .vscode/launch.json
  .vscode/settings.json
  tools/test-setup.sh
Due: none

Reduce test console noise (#1484)
  package.json
Due: none

test: enforce use of our own virtualenv
  .config/Taskfile_shared.yml
  Taskfile.yml
Due: none

test: enforce use of our own virtualenv (#1486)
  .config/Taskfile_shared.yml
  Taskfile.yml
Due: none

test: avoid noisy project coverage failures due to rounding errors
  codecov.yml
Due: codecov

test: avoid false positive project coverage failures due to rounding errors (#1488)
  codecov.yml
Due: codecov

Remove redundant activation events
  package.json
Due: none

lightspeed: remove an unused block
  src/features/lightspeed/inlineSuggestions.ts
Due: eslint

lightspeed: remove an unused block (#1362)
  src/features/lightspeed/inlineSuggestions.ts
Due: eslint

Path conditions:
  eslint: any of: \.m?[jt]sx?$, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

  codecov: any of: codecov.yml, but not: (?x)^(
  .config/requirements.in|
  .*.svg
)$

